body {
  background-color: #343434;
  margin: 0;
  padding: 0;
  margin: auto;
}

div.items {
  white-space: nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  align-self: center;
}
div.items:hover .item {
  opacity: 0.3;
}
div.items:hover .item:hover {
  opacity: 1;
}
div.control-container {
  height: 300px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
div.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 300px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
div.left-scroll {
  left: 0;
}
div.left-scroll i {
  transform: translate(-60%, -50%);
}
div.right-scroll {
  right: 0;
}
div.right-scroll i {
  transform: translate(-40%, -50%);
}
div.scroll {
  position: absolute;
  display: inline-block;
  color: #f6f6f6;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  border: 1px solid #f6f6f6;
  border-radius: 60px;
  margin: 0 5px;
  z-index: 951;
}
div.scroll i {
  font-size: 30px;
  position: relative;
  left: 50%;
  top: 50%;
}

.item {
  position: relative;
  align-self: center;
  width: 200px;
  height: 200px;
  margin: 0 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 899;
}
.item:hover {
  transform: scale(1.5);
  margin: 30px;
  opacity: 1;
  z-index: 950;
}
.item:hover .opacity-none {
  opacity: 1;
}
.item .item-load-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item .opacity-none {
  opacity: 0;
}
.item img.item-image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item .item-title {
  color: #f6f6f6;
  position: absolute;
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.item .item-description {
  color: #f6f6f6;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: pre-wrap;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  padding: 10px 0;
}

.button {
  position: absolute;
  color: #f6f6f6;
  font-size: 30px;
  border: 1px solid #f6f6f6;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: 950;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}
.button i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -55%);
  z-index: 950;
}
.button:hover {
  box-shadow: 0px 0px 50px #FFFFFF;
}
